extends layout/template

block vars
	- var pageType = "inner";
	- var showMenu = true;
	- var showParts = true;
	- var pageName = "home";
	- var pageTitle = "My Page";
	- var pageDescription = "This is My Page";
	- var pageImage = "/img.jpg";

block head

block content
	section.section-back
		.inner
			a(href='#').back Назад к статьям


	section.section-article
		.inner.clearfix
			.section-article__content

				.article-aside
					.article__head
						.article__head-likes Запомнить статью
					.article__info
						.article__info-item
							.article__info-title АВТОР
							.article__info-text
								.name Маринка Пекарновна
								.rank Интернет-маркетолог
						.article__info-item
							.article__info-title ТЕГИ
							.article__info-tags
								a(href='#') Пироженки
								a(href='#') Мороженки
								a(href='#') Контент-маркетинг
								a(href='#') AlinaMakarova

				.article
					.article__head
						.article__head-title Контент-маркетинг
						.article__head-likes Запомнить статью

					h1 Как приготовить торт за 50 руб. в день или бич пироженки. Как приготовить торт

					p.foreword Желатин (от лат. gelatus — замерзший, застывший) — белковое желирующее вещество из коллагена, который содержится в костях, хрящах, коже и жилах животных.

					.article__img.article__img_main
						img(src='img/temp/article_01.jpg')
						.article__img-note Фото: Алина Макарова / #[br]www.alinamakarova.ru

					h2 Желатин применяется:

					ul
						li В пищевой промышленности он используется под названием «Пищевая добавка Е-441». Он необходим  в кондитерском производстве для изготовления пастилы и некоторых видов зефира, муссов, кремов, желе и пр. Из
						li В медицине применяется, как кровоостанавливающее средств, а так же в качестве источника белков для лечения различных нарушений питания.
						li В диагностике бактериальных инфекций для создания питательных сред и

					p Немногие могут устоять против #[a(href='#') #[b булочек Синнабон]] — манящих, ароматных и очень тёплых булочек с корицей и разными начинками. Это произведение кондитерского искусства, которое доказывает, что даже в двадцатом веке ещё можно придумать что-то интересное, простое и понятное, что захватит весь мир в сладкий плен. Их аромат чувствуешь издалека, а желание съесть парочку возникает практически мгновенно, как только видишь эти круглые пышные бу

					.article__img
						img(src='img/temp/article_02.jpg')
						.article__img-note Кадр: видео «Зимняя выпечка» с сайта alinamakarova.ru
					.article__img
						img(src='img/temp/article_03.jpg')
						.article__img-note Кадр: видео «Зимняя выпечка» с сайта alinamakarova.ru

					p Немногие могут устоять против #[a(href='#') #[b булочек Синнабон]] — манящих, ароматных и очень тёплых булочек с корицей и разными начинками. Это произведение кондитерского искусства, которое доказывает, что даже в

					h2 Список:

					ol
						li В пищевой промышленности он используется под названием «Пищевая добавка Е-441». Он необходим  в кондитерском производстве для изготовления пастилы и некоторых видов зефира, муссов, кремов, желе и пр. Из
						li В медицине применяется, как кровоостанавливающее средств, а так же в качестве источника белков для лечения различных нарушений питания.
						li В диагностике бактериальных инфекций для создания питательных сред и

					q В медицине применяется, как кровоостанавливающее средств, а так же в качестве источника белков для лечения различных нарушений питания.

					h2 Рецепт торта какой-то название

					.ingredient
						.ingredient__list
							ul
								li Дрожжи — 11&nbsp;г
								li Молоко тёплое 3% — 60&nbsp;г
								li Сахар — 15 г
								li Масло сливочное 82,5% — 115&nbsp;г
								li Молоко тёплое 3% — 125&nbsp;г
								li Яйцо — 1&nbsp;шт
								li Мука — 450&nbsp;г
								li Яблоки — 4-5&nbsp;шт
								li Сахар коричневый — 100&nbsp;г
								li Масло сливочное 82,5% — 25&nbsp;г

							.print: a(href='#') Печатать

						.ingredient__info
							p Немногие могут устоять против булочек Синнабон — манящих, ароматных и очень тёплых булочек с корицей и разными начинками. Это произведение кондитерского искусства, которое доказывает, что даже в двадцатом веке ещё можно придумать что-то интересное, простое и понятное, что захватит весь мир в сладкий плен. Их аромат чувствуешь издалека, а желание съесть парочку возникает практически мгновенно, как только видишь эти круглые пышные булочки.
							p Есть сотни вариантов, как готовить тесто и с чем его лучше подавать. Предложу свою идею. В этот раз тесто будет ещё более пышным, воздушным, нежным и сочным, булочку можно буквально разбирать на мягкие волокна и наслаждаться процессом поедания этого маленького гипнотического монстра. Причём, чем больше оборотов теста закрутите, тем более магическими получатся синнабоны, говорят, что на пятом обороте можно навсегда потерять волю перед ними. Внутри самая логичная и любимая начинка к корице — это яблоки в карамели. здесь вам раздолье — берите сладкие или наборот кислые, используйте больше или меньше корицы, заменяйте её другими пряностями, я добавил немного имбиря, чтобы было по-зимнему согревающе. Выпекаем в духовке до румяного цвета, достаём и дальше самое интересное — ещё горячими наносим щедрую шапочку крема. Нет, не наносим, просто щедро и небрежно шлёпаем большую порцию сверху. Крем у меня на основе творожного сливочное сыра Almette, который мы соединяем со сладкой пудрой и новым набором пряностей. За счёт тепла булочек, и без того нежный творожный крем станет ещё мягче и начнёт приятно подтаивать сверху, обволакивая булочку своей нежностью.

					q.info #[span Коллаген] — это белок в костях, сухожилиях и т.д., который обеспечивает их прочность и эластичность. У млекопитающих

					.article__img.article__img_carousel
						.article__img-carousel
							.article__img-list
								.article__img-item: img(src='img/temp/article_04.jpg')
								.article__img-item: img(src='img/temp/article_04.jpg')
								.article__img-item: img(src='img/temp/article_04.jpg')
								.article__img-item: img(src='img/temp/article_04.jpg')
								.article__img-item: img(src='img/temp/article_04.jpg')
							.article__img-cointrol.card__control
								.card__control-btn.card__control-btn_prev
								.card__control-btn.card__control-btn_next
						.article__img-note
							.name Кадр: видео «Зимняя выпечка» с сайта alinamakarova.ru
							.time
					.article__video
						.article__video-player
						.article__video-note
							.name Видео
							.time 20:22



					h2 Таблица

					table
						thead
							tr
								th Название
								th Название
								th Название
						tbody
							tr
								td Значение 1 длинное
								td Значение 1 длинное
								td Значение 1 длинное
							tr
								td Значение 1
								td Значение 1
								td Значение 1
							tr
								td -
								td -
								td -
							tr
								td Значение 1 длинное в 2 строчки
								td Значение 1 длинное в 2 строчки
								td Значение 1 длинное в 2 строчки

					.article__files
						.article__files-title ФАЙЛЫ
						.article__files-item
							.article__files-subtitle Как приготовить торт без ингридиентов
							.article__files-list
								a(href='#', download) dox. (235 КБ)
								a(href='#', download) pdf. (447 КБ)
								a(href='#', download) jpeg. (47 КБ)
						.article__files-item
							.article__files-subtitle Презентация
							.article__files-list
								a(href='#', download) dox. (235 КБ)
								a(href='#', download) pdf. (447 КБ)
								a(href='#', download) jpeg. (47 КБ)
						.article__files-btn: a(href='#', download).btn.btn_border Скачать одним архивом

					.article__info
						.article__info-item
							.article__info-title АВТОР
							.article__info-text
								.name Маринка Пекарновна
								.rank Интернет-маркетолог
						.article__info-item
							.article__info-title ТЕГИ
							.article__info-tags
								a(href='#') Пироженки
								a(href='#') Мороженки
								a(href='#') Контент-маркетинг
								a(href='#') AlinaMakarova

					.article__nav
						.article__nav-prev
							.article__nav-direction Предыдущий рецепт
							.article__nav-title Муссовый торт с зеркальной
						.article__nav-next
							.article__nav-direction Следующий рецепт
							.article__nav-title Холодный цитрусовый чизкейк с розмарином цитрусовый чизкей



			.section-article__aside
				.section-article__aside-inner
					.poster: img(src='img/temp/ad.png')
					.poster: img(src='img/temp/ad.png')



	section.section-part
		.inner
			.section__head
				.section__head-title Вам может понравиться

			.card.card_carousel
				.card__list
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки. Как приготовить торт')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки.')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки. Как приготовить торт')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки.')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки. Как приготовить торт')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки.')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки. Как приготовить торт')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки.')
				.card__control
					.card__control-btn.card__control-btn_prev
					.card__control-btn.card__control-btn_next

block append