extends layout/template

block vars
	- var pageType = "outer";
	- var pageName = "base";
	- var pageTitle = "My Page";
	- var pageDescription = "This is My Page";
	- var pageImage = "/img.jpg";

block head

block content

	section.base-welcome
		.bubble
		.inner.clearfix
			.base-welcome__suptitle ИНФОРМАЦИОННЫЙ СЕРВИС
			.base-welcome__title Стать участником #[span Базы знаний] Алины Макаровой
			.base-welcome__subtitle Лучший информационный сервис для кондитеров. Знания, навыки и вдохновение в одном месте.
			.base-welcome__announce
				.base-welcome__announce-video
					iframe(src="https://player.vimeo.com/video/117804868" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen)
				.base-welcome__announce-description
					.base-welcome__announce-title Что внутри?
					.base-welcome__announce-text
						ul
							li Доступ к базе рецептов
							li Доступ к теоретическим статьям
							li Доступ к записям вебинаров и рецептам
							li Доступ к бизнес-статьям
					.base-welcome__announce-btn
						.btn.btn_yellow Оформить подписку

	section.base-found
		.inner.clearfix
			.base-found__title Что вы найдете в&nbsp;Базе знаний:
			.base-found__list
				.base-found__control
					.base-found__control-arrow.base-found__control-arrow_prev
					.base-found__control-arrow.base-found__control-arrow_next
					.base-found__control-counter 0/0
				.base-found__slider
					.base-found__item
						.base-found__item-inner
							.base-found__item-num 1
							.base-found__item-title Вебинары
							.base-found__item-text 8 полноценных подробных вебинара по тортам с видео и тех.картой
							.base-found__item-image: +img(240, 184, 'image', '4de', '596')
					.base-found__item
						.base-found__item-inner
							.base-found__item-num 2
							.base-found__item-title Рецепты
							.base-found__item-text 43 (!) рецептов от самых простых (печенье, карамель, меренга) до продвинутых (маршмеллоу с мармеладом, морковный торт, фисташковый рулет)
							.base-found__item-image: +img(240, 184, 'image', '4de', '596')
					.base-found__item
						.base-found__item-inner
							.base-found__item-num 3
							.base-found__item-title Кондитерскую теорию
							.base-found__item-text 21 статья по теории (про яйца, шоколад, желирующие агенты, эксперименты с выпечкой и т.д.).
							.base-found__item-image: +img(240, 184, 'image', '4de', '596')
					.base-found__item
						.base-found__item-inner
							.base-found__item-num 4
							.base-found__item-title Записи прямых эфиров из Instagram
							.base-found__item-text 6 прямых эфиров на тему саморазвития от построения личного бренда до маркетинговых инструментов в бизнесе.
							.base-found__item-image: +img(240, 184, 'image', '4de', '596')
					.base-found__item
						.base-found__item-inner
							.base-found__item-num 5
							.base-found__item-title Записи прямых эфиров из Instagram
							.base-found__item-text 6 прямых эфиров на тему саморазвития от построения личного бренда до маркетинговых инструментов в бизнесе.
							.base-found__item-image: +img(240, 184, 'image', '4de', '596')
					.base-found__item
						.base-found__item-inner
							.base-found__item-num 6
							.base-found__item-title Записи прямых эфиров из Instagram
							.base-found__item-text 6 прямых эфиров на тему саморазвития от построения личного бренда до маркетинговых инструментов в бизнесе.
							.base-found__item-image: +img(240, 184, 'image', '4de', '596')

			.base-found__more
				.base-found__more-item
					.base-found__more-icon: img(src='../img/base/icon_note.svg')
					.base-found__more-text Каждую неделю мы добавляем 1-2 статьи на кондитерскую тему в нашу базу знаний. Это самые лучшие и полезные материалы собранные в одном месте.
				.base-found__more-item
					.base-found__more-icon: img(src='../img/base/icon_notebook.svg')
					.base-found__more-text Вам больше не придется тратить своё время на поиск информации в интернете.
			.base-found__btn: .btn.btn_yellow Оформить подписку

	section.base-tops
		.inner.clearfix
			.base-tops__list
				.base-tops__image
					.base-tops__image-item: +img(584, 460, 'image 1', '4de', '004')
					.base-tops__image-item: +img(584, 460, 'image 2', '462', '422')
					.base-tops__image-item: +img(584, 460, 'image 3', '765', '579')
					.base-tops__image-item: +img(584, 460, 'image 4', 'ae4', '424')
					.base-tops__image-item: +img(584, 460, 'image 5', '723', '975')
					.base-tops__image-item: +img(584, 460, 'image 6', '111', '235')
					.base-tops__image-item: +img(584, 460, 'image 7', '045', '584')
					.base-tops__image-item: +img(584, 460, 'image 8', '2ef', '025')
					.base-tops__image-item: +img(584, 460, 'image 9', '2dd', '223')
					.base-tops__image-item: +img(584, 460, 'image 10', 'aed', '532')
				.base-tops__description
					.base-tops__title Топ 10 статей из Базы знаний:
					.base-tops__slider
						-for (var i = 1; i <= 10; i++)
							.base-tops__item
								.base-tops__item-num= i
								.base-tops__item-title Шаги к успеху или как стать востребованным в&nbsp;профессии
								.base-tops__item-text Что отличает успешного кондитера от менее успешного? Как взять ответственность за свою жизнь? Что отличает успешного кондитера от менее успешного? Как взять ответственность за свою жизнь?
					.base-tops__control
						.base-tops__control-arrow.base-tops__control-arrow_prev
						.base-tops__control-arrow.base-tops__control-arrow_next
						.base-tops__control-counter 0/0


	section.base-feedbacks
		.bubble
		.inner.clearfix
			.base-feedbacks__title Отзывы о Базе знаний
			.base-feedbacks__list
				.base-feedbacks__control
					.base-feedbacks__control-arrow.base-feedbacks__control-arrow_prev
					.base-feedbacks__control-arrow.base-feedbacks__control-arrow_next
					.base-feedbacks__control-counter 0/0
				.base-feedbacks__slider
					.base-feedbacks__slide
						.base-feedbacks__item.base-feedbacks__item_wide: a.base-feedbacks__item-inner(href='https://via.placeholder.com/432x225/4de/596?text=image1'): +imgLazy(432, 225, 'image', '4de', '596')
						.base-feedbacks__item: a.base-feedbacks__item-inner(href='https://via.placeholder.com/432x225/4de/596?text=image2'): +imgLazy(225, 225, 'image', '4de', '596')
						.base-feedbacks__item: a.base-feedbacks__item-inner(href='https://via.placeholder.com/432x225/4de/596?text=image3'): +imgLazy(225, 350, 'image', '4de', '596')
						.base-feedbacks__item.base-feedbacks__item_nom: a.base-feedbacks__item-inner(href='https://via.placeholder.com/432x225/4de/596?text=image4'): +imgLazy(225, 225, 'image', '4de', '596')
						.base-feedbacks__item.base-feedbacks__item_nom: a.base-feedbacks__item-inner(href='https://via.placeholder.com/432x225/4de/596?text=image5'): +imgLazy(400, 500, 'image', '4de', '596')
						.base-feedbacks__item.base-feedbacks__item_nom: a.base-feedbacks__item-inner(href='https://via.placeholder.com/432x225/4de/596?text=image6'): +imgLazy(225, 225, 'image', '4de', '596')
						.base-feedbacks__item.base-feedbacks__item_nom: a.base-feedbacks__item-inner(href='https://via.placeholder.com/432x225/4de/596?text=image7'): +imgLazy(500, 225, 'image', '4de', '596')
					.base-feedbacks__slide
						.base-feedbacks__item.base-feedbacks__item_wide: a.base-feedbacks__item-inner(href='https://via.placeholder.com/432x225/4de/596?text=image8'): +imgLazy(432, 225, 'image', '4de', '596')
						.base-feedbacks__item: a.base-feedbacks__item-inner(href='https://via.placeholder.com/432x225/4de/596?text=image9'): +imgLazy(225, 225, 'image', '4de', '596')
						.base-feedbacks__item: a.base-feedbacks__item-inner(href='https://via.placeholder.com/432x225/4de/596?text=image10'): +imgLazy(225, 350, 'image', '4de', '596')
						.base-feedbacks__item.base-feedbacks__item_nom: a.base-feedbacks__item-inner(href='https://via.placeholder.com/432x225/4de/596?text=image11'): +imgLazy(225, 225, 'image', '4de', '596')
						.base-feedbacks__item.base-feedbacks__item_nom: a.base-feedbacks__item-inner(href='https://via.placeholder.com/432x225/4de/596?text=image12'): +imgLazy(400, 500, 'image', '4de', '596')
						.base-feedbacks__item.base-feedbacks__item_nom: a.base-feedbacks__item-inner(href='https://via.placeholder.com/432x225/4de/596?text=image13'): +imgLazy(225, 225, 'image', '4de', '596')
						.base-feedbacks__item.base-feedbacks__item_nom: a.base-feedbacks__item-inner(href='https://via.placeholder.com/432x225/4de/596?text=image14'): +imgLazy(500, 225, 'image', '4de', '596')
					.base-feedbacks__slide
						.base-feedbacks__item.base-feedbacks__item_wide: a.base-feedbacks__item-inner(href='https://via.placeholder.com/432x225/4de/596?text=image15'): +imgLazy(432, 225, 'image', '4de', '596')
						.base-feedbacks__item: a.base-feedbacks__item-inner(href='https://via.placeholder.com/432x225/4de/596?text=image16'): +imgLazy(225, 225, 'image', '4de', '596')
						.base-feedbacks__item: a.base-feedbacks__item-inner(href='https://via.placeholder.com/432x225/4de/596?text=image17'): +imgLazy(225, 350, 'image', '4de', '596')
						.base-feedbacks__item.base-feedbacks__item_nom: a.base-feedbacks__item-inner(href='https://via.placeholder.com/432x225/4de/596?text=image18'): +imgLazy(225, 225, 'image', '4de', '596')
						.base-feedbacks__item.base-feedbacks__item_nom: a.base-feedbacks__item-inner(href='https://via.placeholder.com/432x225/4de/596?text=image19'): +imgLazy(400, 500, 'image', '4de', '596')
						.base-feedbacks__item.base-feedbacks__item_nom: a.base-feedbacks__item-inner(href='https://via.placeholder.com/432x225/4de/596?text=image20'): +imgLazy(225, 225, 'image', '4de', '596')
						.base-feedbacks__item.base-feedbacks__item_nom: a.base-feedbacks__item-inner(href='https://via.placeholder.com/432x225/4de/596?text=image21'): +imgLazy(500, 225, 'image', '4de', '596')
					//-.base-feedbacks__item: .base-feedbacks__item-inner: +imgLazy(225, 225, 'image', '4de', '596')
					//-.base-feedbacks__item: .base-feedbacks__item-inner: +imgLazy(225, 225, 'image', '4de', '596')


	section.base-subscribe
		.inner.clearfix
			.base-subscribe__title Оформить подписку
			.base-subscribe__subtitle Всего за 15 рублей в день вы получаете доступ к библиотеке, в которой собрано более 100 полезных статей на кондитерскую тему. Каждую неделю мы пополняем Базу новыми крутыми статьями.
			.base-subscribe__list

				.base-subscribe__item
					.base-subscribe__item-inner
						.base-subscribe__item-title Ежемесячная оплата
						.base-subscribe__item-price #[span 490 руб.]/год
						.base-subscribe__item-text
							p Статьи и рецепты продвинутого уровня не включены в ежемесячную подписку.
							ul
								li доступ к базе рецептов: более 40 различных рецептов от пирогов до тортов
								li доступ к теоретическим статьям, чтобы понимать весь процесс от и до
								li доступ к записям вебинаров и рецептам
								li доступ к бизнес-статьям, чтобы больше зарабатывать на своём деле
						.base-subscribe__item-checkbox
							input(type="checkbox", checked, name="subscribe_1")#subscribe_1
							label(for="subscribe_1") Я согласен (на) с #[a(href="#") условиями оферты]
						.base-subscribe__item-btn
							a(href="#").btn.btn_yellow Оформить подписку
						.base-subscribe__item-note Деньги списываются с банковской карты автоматически раз в год. Отменить можно в любой момент. Данные вашей карты надёжно защищены.

				.base-subscribe__item
					.base-subscribe__item-inner
						.base-subscribe__item-label
							.base-subscribe__item-label-text Скидка
							.base-subscribe__item-label-value 15%
							.base-subscribe__item-label-text участникам вебинара

						.base-subscribe__item-title Годовая подписка
						.base-subscribe__item-price #[span 5 880 руб.]/год
						.base-subscribe__item-oldprice: span 6 890 руб.
						.base-subscribe__item-profit Экономия 1 010 руб.
						.base-subscribe__item-text
							p Доступ ко всем статьям Базы Знаний, включая продвинутый уровень.
							ul
								li доступ к базе рецептов: более 40 различных рецептов от пирогов до тортов
								li доступ к теоретическим статьям, чтобы понимать весь процесс от и до
								li доступ к записям вебинаров и рецептам
								li доступ к бизнес-статьям, чтобы больше зарабатывать на своём деле
						.base-subscribe__item-checkbox
							input(type="checkbox", checked name="subscribe_1")#subscribe_2
							label(for="subscribe_2") Я согласен (на) с #[a(href="#") условиями оферты]
						.base-subscribe__item-btn
							a(href="#").btn.btn_yellow Оформить подписку
						.base-subscribe__item-note Деньги списываются с банковской карты автоматически раз в год. Отменить можно в любой момент. Данные вашей карты надёжно защищены.


	section.base-faq
		.inner.clearfix
			.base-faq__title Вопрос-ответ
			.base-faq__subtitle Часто задаваемые вопросы
			.base-faq__list
				.base-faq__item.base-faq__item_open
					.base-faq__item-title Как оплатить подписку?
					.base-faq__item-text
						p Введите в форму выше свою почту и нажмите «подписаться». Введите данные своей банковской карты и нажмите «Оплатить».
						p Следуйте инструкциям системы. Если всё хорошо, сайт об этом скажет.

				.base-faq__item
					.base-faq__item-title Не хочу доверять вам данные карты
					.base-faq__item-text
						p Введите в форму выше свою почту и нажмите «подписаться». Введите данные своей банковской карты и нажмите «Оплатить».
						p Следуйте инструкциям системы. Если всё хорошо, сайт об этом скажет.

				.base-faq__item
					.base-faq__item-title Какие карты принимаются?
					.base-faq__item-text
						p Введите в форму выше свою почту и нажмите «подписаться». Введите данные своей банковской карты и нажмите «Оплатить».
						p Следуйте инструкциям системы. Если всё хорошо, сайт об этом скажет.

				.base-faq__item
					.base-faq__item-title Как отменить подписку?
					.base-faq__item-text
						p Введите в форму выше свою почту и нажмите «подписаться». Введите данные своей банковской карты и нажмите «Оплатить».
						p Следуйте инструкциям системы. Если всё хорошо, сайт об этом скажет.

				.base-faq__item
					.base-faq__item-title Будут ли мне доступны предыдущие статьи?
					.base-faq__item-text
						p Введите в форму выше свою почту и нажмите «подписаться». Введите данные своей банковской карты и нажмите «Оплатить».
						p Следуйте инструкциям системы. Если всё хорошо, сайт об этом скажет.

				.base-faq__item
					.base-faq__item-title Какие статьи не входят в ежемесячную подписку?
					.base-faq__item-text
						p Введите в форму выше свою почту и нажмите «подписаться». Введите данные своей банковской карты и нажмите «Оплатить».
						p Следуйте инструкциям системы. Если всё хорошо, сайт об этом скажет.

				.base-faq__item
					.base-faq__item-title Если я сейчас оплачу ежемесячную подписку, смогу ли я потом перевестись на годовую?
					.base-faq__item-text
						p Введите в форму выше свою почту и нажмите «подписаться». Введите данные своей банковской карты и нажмите «Оплатить».
						p Следуйте инструкциям системы. Если всё хорошо, сайт об этом скажет.

				.base-faq__item
					.base-faq__item-title Могу я вернуть деньги за подписку?
					.base-faq__item-text
						p Введите в форму выше свою почту и нажмите «подписаться». Введите данные своей банковской карты и нажмите «Оплатить».
						p Следуйте инструкциям системы. Если всё хорошо, сайт об этом скажет.

				.base-faq__item
					.base-faq__item-title Как мне оплатить с Украины?
					.base-faq__item-text
						p Введите в форму выше свою почту и нажмите «подписаться». Введите данные своей банковской карты и нажмите «Оплатить».
						p Следуйте инструкциям системы. Если всё хорошо, сайт об этом скажет.

				.base-faq__item
					.base-faq__item-title Написано, что списания автоматические, а если я не хочу продлевать подписку?
					.base-faq__item-text
						p Введите в форму выше свою почту и нажмите «подписаться». Введите данные своей банковской карты и нажмите «Оплатить».
						p Следуйте инструкциям системы. Если всё хорошо, сайт об этом скажет.



block append