extends layout/template

block vars
	- var pageType = "inner";
	- var showMenu = true;
	- var showParts = true;
	- var pageName = "home";
	- var pageTitle = "My Page";
	- var pageDescription = "This is My Page";
	- var pageImage = "/img.jpg";

block head

block content
	section.section-announce
		.inner.clearfix
			.section-announce__content
				.card
					.card__list
						+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки. Как приготовить торт')
						+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки.')
						+cardItem('Готовим торт')
						+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки. Как приготовить торт')
						+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки.')
						+cardItem('Готовим торт')
						+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки. Как приготовить торт')
						+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки.')


			.section-announce__aside
				.newsfeed
					.newsfeed__title САМЫЕ ЧИТАЕМЫЕ
					.newsfeed__list
						+newsfeedItem('Полезные статьи', 'Как приготовить торт за 50 руб.')
						+newsfeedItem('Рецепты', 'Как приготовить торт за 50 руб. в день или бич пироженки. Как торт за 150')
						+newsfeedItem('Вдохновение', 'Как приготовить торт за 50 руб.в день или бич')
						+newsfeedItem('Instagram', 'Как приготовить торт за 50 руб.')
						+newsfeedItem('Instagram', 'Как приготовить торт за 50 руб. в день или бич пироженки. Как торт за 150')
						+newsfeedItem('Контент-маркетинг', 'Как приготовить торт за 50 руб.в день или бич')
						+newsfeedItem('Instagram', 'Как приготовить торт за 50 руб.')
						+newsfeedItem('Полезные статьи', 'Как приготовить торт за 50 руб. в день или бич пироженки. Как торт за 150')
						+newsfeedItem('Рецепты', 'Как приготовить торт за 50 руб.в день или бич')
						+newsfeedItem('Вдохновение', 'Как приготовить торт за 50 руб.')
						+newsfeedItem('Instagram', 'Как приготовить торт за 50 руб. в день или бич пироженки. Как торт за 150')
						+newsfeedItem('Instagram', 'Как приготовить торт за 50 руб.в день или бич')
						+newsfeedItem('Контент-маркетинг', 'Как приготовить торт за 50 руб.')
						+newsfeedItem('Instagram', 'Как приготовить торт за 50 руб. в день или бич пироженки. Как торт за 150')



	section
		.inner
			.card.card_preview
				.card__list
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки. Как приготовить торт', false, 'tag')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки.')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки. Как приготовить торт', false, 'big')
					+cardItem('Готовим торт')


	section.section-part
		.inner
			.section__head
				.section__head-title Статьи #[span 48]
				.section__head-aside
					.section__head-aside-count #[b 48] статей
					a(href='#').section__head-aside-btn В раздел

			.card.card_preview
				.card__list
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки. Как приготовить торт')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки.')
					+cardItem('Готовим торт')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки. Как приготовить торт')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки.')


	section.section-part
		.inner
			.section__head
				.section__head-title Рецепты #[span 48]
				.section__head-aside
					.section__head-aside-count #[b 48] статей
					a(href='#').section__head-aside-btn В раздел

			.card.card_preview
				.card__list
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки. Как приготовить торт')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки. Как приготовить торт', false, 'big')
					+cardItem('Готовим торт')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки. Как приготовить торт')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки.')


	section.section-part
		.inner
			.section__head
				.section__head-title Вдохновение #[span 48]
				.section__head-aside
					.section__head-aside-count #[b 48] статей
					a(href='#').section__head-aside-btn В раздел

			.card.card_preview
				.card__list
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки. Как приготовить торт')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки.')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки. Как приготовить торт', false, 'big')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки. Как приготовить торт')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки.')


block append