extends layout/template

block vars
	- var pageType = "inner";
	- var pageName = "home";
	- var showParts = false;
	- var pageTitle = "My Page";
	- var pageDescription = "This is My Page";
	- var pageImage = "/img.jpg";

block head

block content
	section
		.inner
			.card
				.card__found Найдено #[span 3 статьи]
				.card__list
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки. Как приготовить торт')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки.')
					+cardItem('Готовим торт')






block append