extends layout/template

block vars
	- var pageType = "inner";
	- var pageName = "home";
	- var showParts = false;
	- var pageTitle = "My Page";
	- var pageDescription = "This is My Page";
	- var pageImage = "/img.jpg";

block head

block content
	section
		.inner
			.card
				.card__list
					.card__message
						.card__message-inner
							.card__message-title Ничего не найдено
							.card__message-text Результаты не найдены:"dgg" Повторите попытку





block append