extends layout/template

block vars
	- var pageType = "inner";
	- var pageName = "home";
	- var showParts = true;
	- var pageTitle = "My Page";
	- var pageDescription = "This is My Page";
	- var pageImage = "/img.jpg";

block head

block content
	section
		.inner
			.card
				.card__list
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки. Как приготовить торт')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки.')
					+cardItem('Готовим торт')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки. Как приготовить торт')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки.')
					+cardItem('Готовим торт')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки. Как приготовить торт')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки.')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки. Как приготовить торт')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки.')
					+cardItem('Готовим торт')
					+cardItem('Как приготовить торт за 50 руб. в день или бич пироженки. Как приготовить торт')

	section
		.inner
			.pagin
				.pagin__list
					.pagin__item.is-active 1
					.pagin__item 2
					.pagin__item 3
					.pagin__item 4
					.pagin__dot ...
					.pagin__item 30
					.pagin__btns
						.pagin__btn Предыдущая
						.pagin__btn Следующая


block append