extends layout/template

block vars
	- var pageType = "outer";
	- var pageName = "home";
	- var pageTitle = "My Page";
	- var pageDescription = "This is My Page";
	- var pageImage = "/img.jpg";

block head

block content

	section.greeting
		.bubble
		.inner.clearfix
			.greeting__welcome
				.greeting__welcome-inner
					.greeting__welcome-title.
						Стать участником #[br]
						#[span «Базы знаний»] #[br]
						Алины Макаровой
					.greeting__welcome-text Получи демо-доступ к Базе Знаний #[br] на 7 дней за 49 руб.
					.greeting__welcome-btn: a.btn(href='#') Получить демо-доступ
					.greeting__welcome-btn: a.btn(href='#') Оплатить подписку

			.greeting__sample
				.greeting__sample-plate
				.greeting__sample-cards
					.card__list
						-for (var i = 0; i < 3; i++)
							.card__item
								.card__item-inner
									.card__item-image: img(src='img/temp/0001.jpg')
									.card__item-subtitle Рецепты
									.card__item-title Как приготовить торт за 50 руб. в день или бич пироженки. Как приготовить торт
									.card__item-text В этой статье вы можете прочитатьо всяких бич вкусняшках сделанных из не сильно просроченных продуктов. Ну и еще пару строк текста
									.card__item-control
										.card__item-control-more: a(href='#') Читать
										if ( i == 2 )
											.card__item-control-like
										else
											.card__item-control-like.is-active 5


				.greeting__sample-icons
					.greeting__sample-icon.greeting__sample-icon_search
					.greeting__sample-icon.greeting__sample-icon_like
					.greeting__sample-icon.greeting__sample-icon_lock

				.greeting__sample-quote: .greeting__sample-quote-text В медицине применяется, как кровоостанавливающее средств, а так же в качестве

		.inner.clearfix
			.greeting__interest
				.greeting__interest-title Что интересного в&nbsp;нашей #[span «Базе&nbsp;знаний»]
				.greeting__interest-text Каждую неделю мы&nbsp;добавляем 2-3 статьи на&nbsp;кондитерскую тему в нашу базу знаний. Это самые лучшие и полезные материалы собранные в одном месте. Вам больше не придется тратить своё время на поиск информации в интернете.
				.greeting__interest-subtitle Наши темы:
				.greeting__interest-tags
					.greeting__interest-tags-item #[span #]  Полезные статьи
					.greeting__interest-tags-item #[span #]  Рецепты
					.greeting__interest-tags-item #[span #]  Вдохновение
					.greeting__interest-tags-item #[span #]  Знания
					.greeting__interest-tags-item #[span #]  Instagram
					.greeting__interest-tags-item #[span #]  Обучение
					.greeting__interest-tags-item #[span #]  Инвентарь
					.greeting__interest-tags-item #[span #]  Советы




			.greeting__tags
				.greeting__tags-list
					.greeting__tags-item.greeting__tags-item_1
						.greeting__tags-image: img(src='img/temp/tag_4.png')
						.greeting__tags-text #[span #] Торты
					.greeting__tags-item.greeting__tags-item_2
						.greeting__tags-image: img(src='img/temp/tag_1.png')
						.greeting__tags-text #[span #] Мороженки
					.greeting__tags-item.greeting__tags-item_3
						.greeting__tags-image: img(src='img/temp/tag_3.png')
						.greeting__tags-text #[span #] Маркетинг
					.greeting__tags-item.greeting__tags-item_4.greeting__tags-item_clean
						.greeting__tags-image: img(src='img/temp/tag_2.png')
					.greeting__tags-item.greeting__tags-item_5.greeting__tags-item_clean
						.greeting__tags-image: img(src='img/temp/tag_4.png')

					.greeting__tags-notice #[i] В разделе "Рецепты" 4&nbsp;новых статьи

	section.subscribes
		.bubble
		.inner
			.subscribes__title Подписка
			.subscribes__text Каждую неделю мы добавляем 2-3 статьи на кондитерскую тему в нашу базу знаний. Это самые лучшие и полезные материалы собранные в одном месте. Вам больше не придется тратить своё время на поиск информации в интернете.
			.subscribes__list
				.subscribes__item.subscribes__item_welcome
					.subscribes__item-inner
						.clearfix
							.subscribes__item-subtitle #[b СТОИМОСТЬ ДОСТУПА#[br]К #[span «БАЗЕ ЗНАНИЙ»]]
							.subscribes__item-price #[span #[b 99]руб.]
						form(action='', method='').form

							.form__field
								.form__input
									button(type='submit').btn Получить доступ
							.form__field
								.form__input
									label
										input(type='checkbox', name='checkbox', data-require='true')
										.form__label Я согласен (на) с #[a(href='#') условиями оферты]
								//-.form__message
						.subscribes__item-text Вы получите доступ на&nbsp;7&nbsp;дней к&nbsp;базе знаний и&nbsp;обучения на&nbsp;нашей платформе.

block append