extends layout/template

block vars
	- var pageType = "outer";
	- var pageName = "home";
	- var pageTitle = "My Page";
	- var pageDescription = "This is My Page";
	- var pageImage = "/img.jpg";

block head

block content
	section
		.inner
			p: a(href='home.html') Главная
			p: a(href='base.html') Новая главная
			p: a(href='subscribes.html') Подписки
			p: a(href='catalog-main.html') Каталог - главная
			p: a(href='catalog-part.html') Каталог - раздел
			p: a(href='catalog-locked.html') Каталог - заблокировано
			p: a(href='catalog-found.html') Каталог - поиск
			p: a(href='catalog-nofound.html') Каталог - пусто
			p: a(href='article.html') Статья
			p: a(href='registration-popups.html') Попапы регистрации (отдельно)
			p &nbsp;

			h1: b Попапы
			p: a(href='#').js-popup-login Авторизация
			p: a(href='#').js-popup-reg Регистрация
			p: a(href='#', data-popup-open='#passRestorePopup') Восстановление
			p &nbsp;
			p: a(href='#', data-popup-open='.popup_conditer') Кондитер 2.0
			p: a(href='#', data-popup-open='#tnxForPurchase') Спасибо за покупку
			p &nbsp;

			h1: b Архив
			p: a(href='public.zip', download) Скачать архив
			p &nbsp;
			p &nbsp;
			p &nbsp;
			p &nbsp;
			p &nbsp;
			p &nbsp;
			p &nbsp;
			p &nbsp;
			p &nbsp;
			p &nbsp;
			p &nbsp;
			p &nbsp;



block append