extends layout/template-popups

block vars
	- var pageType = "outer";
	- var pageName = "home";
	- var pageTitle = "My Page";
	- var pageDescription = "This is My Page";
	- var pageImage = "/img.jpg";
	- var popupPage = true;

block head

block content
	.alina-popups
		.popup.popup_auth.popup_auth.is-open
			.popup__overlay
			.popup__inner
				.popup__layout
					.popup__header
						.popup__header-logo
						.popup__header-text БАЗА ЗНАНИЙ
					.popup__content
						.popup__info
							.popup__info-title Спасибо за покупку
							.popup__info-text
								p Письмо с инструкцией уже отправлено на вашу почту
								p #[b pokupki@yandex.ru]
							.popup__info-btn
								a(href='#').btn.btn_grey Проверить почту
								a(href='#').btn.btn_yellow Перейти в ЛК

block append