extends layout/template-registration

block vars

block head

block content
	section
		.inner

			h1: b Попапы
			p: a(href='#').js-popup-login Авторизация
			p: a(href='#').js-popup-reg Регистрация
			p: a(href='#', data-popup-open='#passRestorePopup') Восстановление
			//-p: a(href='#', data-popup-open='.popup_conditer') Кондитер 2.0
			//-p: a(href='#', data-popup-open='#tnxForPurchase') Спасибо за покупку
			p &nbsp;
			p &nbsp;



block append