extends layout/template

block vars
	- var pageType = "outer";
	- var pageName = "home";
	- var pageTitle = "My Page";
	- var pageDescription = "This is My Page";
	- var pageImage = "/img.jpg";

block head

block content

	section.subscribes
		.inner
			.subscribes__title Подписка
			.subscribes__text Каждую неделю мы добавляем 2-3 статьи на кондитерскую тему в нашу базу знаний. Это самые лучшие и полезные материалы собранные в одном месте. Вам больше не придется тратить своё время на поиск информации в интернете.
			.subscribes__video
				iframe(src="https://player.vimeo.com/video/364056324", width="640", height="360", frameborder="0", allow="autoplay; fullscreen", allowfullscreen)
			.subscribes__list

				.subscribes__item
					.subscribes__item-inner
						.subscribes__item-title Ежемесячная оплата
						.subscribes__item-ribbon Экономия 350 руб.
						.subscribes__item-price
							| #[span #[b 99]руб.]/мес
							br
							| #[span.del #[span #[b 199]руб.]/мес]
						.subscribes__item-text
							ul
								li Доступ на 7 дней к базе экшн
								li Доступ к базе видео-уроков от Команды GM (bp разных отделов)
								li Доступ к новому экшн-плану (выпускается один раз в месяц)
								li Доступ к обучающему онлайн-вебинару от эксперта GM (раз в месяц)

						.subscribes__item-btn: a(href='#').btn Получить доступ

				.subscribes__item
					.subscribes__item-inner
						.subscribes__item-title Годовая оплата
						.subscribes__item-price #[span #[b 830]руб.]/мес

						.subscribes__item-text
							ul
								li Доступ на 7 дней к базе экшн
								li Доступ к базе видео-уроков от Команды GM (bp разных отделов)
								li Доступ к новому экшн-плану (выпускается один раз в месяц)
								li Доступ к обучающему онлайн-вебинару от эксперта GM (раз в месяц)

						.subscribes__item-btn: a(href='#').btn Получить доступ


block append