footer.footer
	.inner
		if ( pageType == 'inner')
			.footer__subscribe
				.footer__subscribe-text Хотит получать #[a(href='#') уведомления] на вашу почту?
				.footer__subscribe-note Подпишитесь, никакого спама, только качественный материал :)
				.footer__subscribe-form
					form.form(action='', method='', novalidate, autocomplete='off')
						.form__field
							.form__input
								input(type='email', name='email', data-require='true', placeholder='E-mail')
							.form__message

						//-.form__field.form__field_submit
							.form__input
								input(type='submit', value='Регистрация').btn

		.footer__menu
			.footer__logo
				.footer__logo-img
				a(href='#').footer__logo-text БАЗА ЗНАНИЙ
			.footer__nav
				if ( pageType == 'inner')
					.footer__nav-item: a(href='#') СТАТЬИ
					.footer__nav-item: a(href='#') #[i.ico-like] ЧИТАЮ 5
				else
					.footer__nav-item: a(href='#') Что интересного в базе знаний?
					.footer__nav-item: a(href='#') Стоимость подписки

		.footer__content.clearfix
			.footer__copy
				.footer__copy-text Все права защищены. Использование материалов с сайта alinamakarova.ru допускается с обязательным уведомлением автора.
				.footer__copy-link: a(href='#') Политика конфиденциальности
			.footer__cos
				a(href='#').footer__cos-item.footer__cos-item_vk
				a(href='#').footer__cos-item.footer__cos-item_ig

