header.header-base
	.inner
		.header-base__inner
			.header-base__handler.js-nav-handler: i

			a(href='/').header-base__logo
				.header-base__logo-img: img(src='../img/base/logo.svg')
				.header-base__logo-text БАЗА ЗНАНИЙ

			.header-base__soc
				.header-base__soc-title Мы в соц.сетях
				.header-base__soc-item: img(src='../img/base/instagram.svg')
				.header-base__soc-item: img(src='../img/base/vk.svg')
			.header-base__user
				.btn.btn_yellow Войти

			//.header-base__user
				.header-base__user-logo: img(src='img/temp/user_01.jpg')
				.header-base__user-name Маринка Пекарновна
				//-.header-base__user-info
					p: a(href='#').btn Выйти

nav.nav-base
	.nav-base__inner
		.nav-base__header
			.nav-base__header-btn: .btn.btn_yellow Войти
			.nav-base__header-close.js-nav-handler
		.nav-base__menu
			.nav-base__menu-inner
				.nav-base__menu-item: a(href="#") Главная
				.nav-base__menu-item: a(href="#") Что вы найдете в Базе знаний?
				.nav-base__menu-item: a(href="#") Топ 10 статей из Базы знаний
				.nav-base__menu-item: a(href="#") Отзывы о Базе знаний
				.nav-base__menu-item: a(href="#") Оформить подписку
				.nav-base__menu-item: a(href="#") Вопрос-ответ
				.nav-base__menu-btn: .btn.btn_yellow Оформить подписку
		.nav-base__footer
			.nav-base__footer-email: a(href='#') info@cake-school.ru
			.nav-base__footer-soc
				.nav-base__footer-soc-title Мы в соц.сетях
				.nav-base__footer-soc-item: img(src='../img/base/instagram.svg')
				.nav-base__footer-soc-item: img(src='../img/base/vk.svg')