header.header
	.inner
		.header__control
			.header__control-inner
				a(href='/').header__logo
					.header__logo-img
					.header__logo-text БАЗА ЗНАНИЙ
				if ( pageType == 'outer')
					.header__handler: i

				if ( pageType == 'inner')

					if ( showParts )

						.header__part
							a(href='#').header__part-item РУБРИКИ
							a(href='#').header__part-item.is-active #[i.ico-like] ЧИТАЮ 5

					.header__user
						.header__user-logo: img(src='img/temp/user_01.jpg')
						.header__user-name Маринка Пекарновна
						.header__user-info
							p: a(href='#').btn Выйти

					.header__search.search
						form(action='/', method='post')
							.search__input: input(type='search', placeholder='Поиск по статьям...')
							.search__ico


		if ( pageType == 'outer')
			.header__content
				.header__content-inner
					.header__nav
						.header__nav-item: a(href='#') Статьи
						.header__nav-item: a(href='#') Рецепты
						.header__nav-item: a(href='#') Вдохновение
						.header__nav-item: a(href='#') Бизнес
					.header__menu
						.header__menu-item: a(href='#').btn Получить доступ
						.header__menu-item: a(href='#').btn.btn_border Вход

	if ( pageType == 'inner')
		if ( showParts )
			.header__part
				a(href='#').header__part-item РУБРИКИ
				a(href='#').header__part-item.is-active #[i.ico-like] ЧИТАЮ 5
