mixin img(width, height, text, bg, color)
	img(src="https://via.placeholder.com/" + width + "x" + (height ? height : width) + "/" + ( bg ? bg : 999) + "/" + (color ? color : 'FFF') + (text ? "?text=" + text : '') )

mixin imgLazy(width, height, text, bg, color)
	img(data-lazy="https://via.placeholder.com/" + width + "x" + (height ? height : width) + "/" + ( bg ? bg : 999) + "/" + (color ? color : 'FFF') + (text ? "?text=" + text : '') )

mixin newsfeedItem(title, text)
	.newsfeed__item
		.newsfeed__item-inner
			.newsfeed__item-subtitle: a(href='#')= title
			.newsfeed__item-title: a(href='#')= text

mixin cardItem(title, locked, type)
	.card__item(class = type ? 'card__item_' + type : '')
		.card__item-inner
			.card__item-image: img(src= type == 'tag' ? 'img/temp/bg_violet.jpg' : 'img/temp/0001.jpg')
			.card__item-info
				if ( type == 'tag' )
					.card__item-subtitle: a(href='#') Советы
				else
					.card__item-subtitle: a(href='#') Рецепты
				.card__item-title: a(href='#')= title
				if ( type == 'tag' )
					.card__item-text
						a(href='#').tag Пироженки
						a(href='#').tag Мороженки
						a(href='#').tag Контент-маркетинг
						a(href='#').tag AlinaMakarova
				else
					.card__item-text В этой статье вы можете прочитатьо всяких бич вкусняшках сделанных из не сильно просроченных продуктов. Ну и еще пару строк текста
			.card__item-control
				.card__item-control-more: a(href='#') Читать
				.card__item-control-like.is-active 5

			if ( locked )
				.locked
					.locked__ico
					.locked__btn Получить доступ
