nav.nav
	.nav__inner
		.nav__scroll
			.inner
				.nav__title Рубрики
				.nav__menu
					.nav__menu-list
						a(href='#').nav__menu-item.is-active Полезные статьи
						a(href='#').nav__menu-item Рецепты
						a(href='#').nav__menu-item Вдохновение
						a(href='#').nav__menu-item Instagram
						a(href='#').nav__menu-item Советы
				.nav__sort
					.nav__sort-title Сортировать
					.nav__sort-list
						a(href='#').nav__sort-item.is-active по популярности
						a(href='#').nav__sort-item по дате
						a(href='#').nav__sort-item по приколу
						a(href='#').nav__sort-item по барабану
				.nav__search.search
					form(action='/', method='post')
						.search__input: input(type='search', placeholder='Поиск по статьям...')
						.search__ico




