.popup.popup_auth#authPopup
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__header
				.popup__header-logo
				.popup__header-text БАЗА ЗНАНИЙ
			.popup__content
				.popup__tab
					.popup__tab-item.is-active(data-tab-group='auth', data-tab-link='auth_reg') Регистрация
					.popup__tab-item(data-tab-group='auth', data-tab-link='auth_login') Вход

				.popup__auth.is-active(data-tab-group='auth', data-tab-target='auth_reg')
					.popup__auth-soc
						.popup__auth-soc-text с помощью аккаунта в соц.сетях
						.popup__auth-soc-list
							a(href='#').popup__auth-soc-item.popup__auth-soc-item_vk
							a(href='#').popup__auth-soc-item.popup__auth-soc-item_fb
							a(href='#').popup__auth-soc-item.popup__auth-soc-item_ok
							a(href='#').popup__auth-soc-item.popup__auth-soc-item_gp
						.popup__auth-soc-text: span.or или

					.popup__auth-form
						form.form.form_reg(action='', method='', data-check-url='data/check.json' novalidate, autocomplete='off')
							.form__field
								.form__message
								.form__input
									input(type='email', name='email', data-require='true')
									.placeholder Адрес эл. почты

							.form__field.form__field_submit
								.form__input
									input(type='submit', value='Регистрация').btn

							.form__field
								.form__text Нажимая на кнопку «Зарегистрироваться», вы подтверждаете свое согласие с #[a(href="#") условиями оферты]

						form.form.form_pass(action='', method='', novalidate, autocomplete='off')
							.is-hidden: input(type='email', name='email')
							.form__field
								.form__text Этот Email уже зарегестрирован. #[br] Введите пароль, чтобы авторизоваться
							.form__field
								.form__message
								.form__input
									input(type='password', name='password', data-require='true')
									.placeholder Пароль

							.form__field.form__field_submit
								.form__input
									input(type='submit', value='Войти').btn

						form.form.form_pass(action='', method='', novalidate, autocomplete='off')
							.is-hidden: input(type='email', name='email')
							.form__field.form__field_submit
								.form__input
									input(type='submit', value='Восстановить пароль').btn.btn_clean





				.popup__auth(data-tab-group='auth', data-tab-target='auth_login')
					.popup__auth-soc
						.popup__auth-soc-text с помощью аккаунта в соц.сетях
						.popup__auth-soc-list
							a(href='#').popup__auth-soc-item.popup__auth-soc-item_vk
							a(href='#').popup__auth-soc-item.popup__auth-soc-item_fb
							a(href='#').popup__auth-soc-item.popup__auth-soc-item_ok
							a(href='#').popup__auth-soc-item.popup__auth-soc-item_gp
						.popup__auth-soc-text: span.or или

					.popup__auth-form
						form.form(action='', method='', novalidate, autocomplete='off')
							.form__field
								.form__message
								.form__input
									input(type='email', name='email', data-require='true')
									.placeholder Адрес эл. почты

							.form__field
								.form__message
								.form__input
									input(type='password', name='password', data-require='true')
									.placeholder Пароль

							.form__field.form__field_submit
								.form__input
									input(type='submit', value='Войти').btn

							.form__field
								.form__text: .btn.btn_clean(data-popup-open="#passRestorePopup") Восстановить пароль


.popup.popup_auth#passRestorePopup
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__header
				.popup__header-logo
				.popup__header-text БАЗА ЗНАНИЙ
			.popup__content
				.popup__auth
					.popup__auth-title Восстановление доступа к аккаунту
					.popup__auth-form
						form.form(action='', method='', novalidate)
							.form__field
								.form__message
								.form__input
									input(type='email', name='email', data-require='true')
									.placeholder Адрес эл. почты

							.form__field.form__field_submit
								.form__input
									input(type='submit', value='Сбросить пароль').btn

							.form__field
								.form__text: .btn.btn_clean(data-popup-open="#authPopup") Отмена



.popup.popup_conditer
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__header
				.popup__header-logo
				.popup__header-text БАЗА ЗНАНИЙ
			.popup__content
				form(action='', method='', novalidate)
					.popup__conditer
						.popup__conditer-subtitle Выбор пакета
						.popup__conditer-title Кондитер 2.0
						.popup__conditer-courses
							.popup__conditer-item(data-item="{\"oldprice\": \"33 440₽\", \"price\": \"24 900₽\", \"installment\": \"6225 ₽/мес\", \"plan\": \"Стандарт\", \"data-product_id\": 1234}")
								label.popup__conditer-item-inner
									input(type='radio', value='1', name='course').popup__conditer-item-input
									.popup__conditer-item-title Стандарт
									.popup__conditer-item-price
										.old-price: span 33 440₽
										.new-price: span 24 900₽
									.popup__conditer-item-info
										| В рассрочку 6225 ₽/мес
										span.hint
											.hint__content Способ оплаты товаров или услуг, при котором платёж производится не в полной сумме их стоимости, а по частям. Рассрочка наиболее распространена при продаже розничных товаров в кредит. При рассрочке платежа между контрагентами возникают кредитные обязательства. Способ оплаты товаров или услуг, при котором платёж производится не в полной сумме их стоимости, а по частям. Рассрочка наиболее распространена при продаже розничных товаров в кредит.
									.popup__conditer-item-status
										.btn
											span.on Выбрано
											span.off Выбрать

							.popup__conditer-item.is-active(data-item="{\"oldprice\": \"43 340₽\", \"price\": \"29 900₽\", \"installment\": \"7475 ₽/мес\", \"plan\": \"Бизнес\", \"data-product_id\": 5678}")
								label.popup__conditer-item-inner
									input(type='radio', value='2', name='course', checked).popup__conditer-item-input
									.popup__conditer-item-title Бизнес
									.popup__conditer-item-price
										.old-price: span 43 340₽
										.new-price: span 29 900₽
									.popup__conditer-item-info
										| В рассрочку 7475 ₽/мес
										span.hint
											.hint__content Способ оплаты товаров или услуг, при котором платёж производится не в полной сумме их стоимости, а по частям. Рассрочка наиболее распространена при продаже розничных товаров в кредит. При рассрочке платежа между контрагентами возникают кредитные обязательства. Способ оплаты товаров или услуг, при котором платёж производится не в полной сумме их стоимости, а по частям. Рассрочка наиболее распространена при продаже розничных товаров в кредит.

									.popup__conditer-item-status
										.btn
											span.on Выбрано
											span.off Выбрать

							.popup__conditer-item.is-disable(data-item="{\"oldprice\": false, \"price\": \"89 900₽\", \"installment\": false, \"plan\": \"ВИП\", \"data-product_id\": 9012}")
								label.popup__conditer-item-inner
									input(type='radio', value='3', name='course', disabled).popup__conditer-item-input
									.popup__conditer-item-title ВИП
									.popup__conditer-item-price
										.old-price &nbsp;
										.new-price: span 89 900₽
									.popup__conditer-item-info
										| Без оплаты в расрочку
									.popup__conditer-item-status
										.btn.btn_disable Мест нет

						.popup__conditer-subtitle Контакты и оплата
						.popup__conditer-title Ваши данные

						.popup__conditer-order
							.popup__conditer-form
								.form
									.form__field
										.form__input
											input(type='text', name='email', data-require='true')
											.placeholder Имя и фамилия

									.form__field
										.form__input
											input(type='text', name='phone', data-require='true', data-mask='+7 999 999 99 99')
											.placeholder Телефон

									.form__field
										.form__input
											input(type='text', name='insta', data-require='true', data-mask='@%{1,50}')
											.placeholder
												| Ваша страничка в Instagram
												span.hint.hint_top
													.hint__content Способ оплаты товаров или услуг, при котором платёж производится не в полной сумме их стоимости, а по частям. Рассрочка наиболее распространена при продаже розничных товаров в кредит. При рассрочке платежа между контрагентами возникают кредитные обязательства. Способ оплаты товаров или услуг, при котором платёж производится не в полной сумме их стоимости, а по частям. Рассрочка наиболее распространена при продаже розничных товаров в кредит.


									.form__field
										.form__input
											input(type='text', name='address', data-require='true', value='dasda@asdas.asd')
											.placeholder Адрес


									.form__field
										.form__input
											label
												input(type='checkbox', name='checkbox', data-require='true')
												.form__label Я согласен с #[a(href='#') условиями оферты]

									//-.form__field.form__field_submit
										.form__input
											input(type='submit', value='Сбросить пароль').btn

							.popup__conditer-result
								.popup__conditer-table
									.table
										.table-row
											.table-cell План
											.table-cell.table-cell_val(data-plan) Бизнес
										.table-row(data-wrap)
											.table-cell Прежняя цена
											.table-cell.table-cell_val(data-oldprice) 43 340₽
										.table-row
											.table-cell Новая цена
											.table-cell.table-cell_val(data-price) 29 900₽

								.popup__conditer-submit
									.popup__conditer-submit-info
										.table
											.table-row
												.table-cell Итого
												.table-cell.table-cell_big.table-cell_val(data-price) 29 900₽
									.popup__conditer-submit-btn: .btn(data-product_id) Оплатить

								.popup__conditer-submit(data-wrap)
									.popup__conditer-submit-info
										.table
											.table-row
												.table-cell Рассрочка
												.table-cell.table-cell_val(data-installment) 6225 ₽/мес
									.popup__conditer-submit-btn: .btn.btn_violet(data-product_id) Оплатить в рассрочку




.popup.popup_auth#tnxForPurchase
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__header
				.popup__header-logo
				.popup__header-text БАЗА ЗНАНИЙ
			.popup__content
				.popup__info
					.popup__info-title Спасибо за покупку
					.popup__info-text
						p Письмо с инструкцией уже отправлено на вашу почту
						p #[b pokupki@yandex.ru]
					.popup__info-btn
						a(href='#').btn.btn_grey Проверить почту
						a(href='#').btn.btn_yellow Перейти в ЛК

