include mixin

block vars
doctype html
html
	head
		meta(charset='UTF-8')/
		meta(name='viewport', content='width=device-width')/
		meta(http-equiv='X-UA-Compatible', content='IE=edge')/
		title= pageTitle
		link(rel='stylesheet', href='/css/registration.style.css')/
		block head
	body(lang='ru')
		.wrapper
			.website
				block content

		.registration-popups
			include popups

		script(src='/js/registration.script.js')
		script(src='/js/jquery-3.2.1.min.js')
		script(src='/js/registration.custom.js')

		block append