include mixin

block vars
doctype html
html
	head
		meta(charset='UTF-8')/
		meta(name='viewport', content='width=device-width')/
		meta(http-equiv='X-UA-Compatible', content='IE=edge')/
		title= pageTitle

		meta(property='og:title', content= pageTitle)/
		meta(property='og:description', content= pageDescription)/
		meta(property='og:image', content= pageImage)/
		meta(property='og:url', content='http://euro-travel-example.com/index.htm')/
		meta(name='twitter:title', content= pageTitle)/
		meta(name='twitter:description', content= pageDescription)/
		meta(name='twitter:image', content= pageImage)/
		meta(name='twitter:card', content='summary_large_image')/
		//-include favicon
		link(rel='stylesheet', href='/css/style.css')/

		block head
	body(lang='ru', class= popupPage ? 'body-popup' : '')
		.wrapper(class= pageType == "inner" ? 'wrapper_inside' : '')
			if ( pageName === 'base')
				include header-base
			else
				include header
			if ( showMenu )
				include nav
			.website
				block content

		include footer

		include popups

		//-script(src='/js/jquery-3.2.1.min.js')
		//-script(src='/js/vendor.js')
		script(src='/js/index.script.js')

		block append